*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    background-color:rgb(190, 204, 218);
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, rgb(170, 180, 190) 30%,transparent 50%) center center / 100% 100%,
    url("./bg.jpg") right center / auto 100%;
}

.container{
    height: 100%;
}

.banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text h1{
    font-size: 6rem;
    border-bottom: 1px solid #333
}
.banner-text h2{
    font-size: 4rem;
}
.banner-text p{
    font-size: 2rem;
}